[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonasobj = "*"
rdflib = "*"
sources = "*"
json-ld-1-1 = {editable = true,git = "https://github.com/RDFLib/rdflib-jsonld.git",ref = "feature/json-ld-1.1"}
requests = "*"

[requires]
python_version = "3.8"
